.aboutMe {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;

  &__container{
  display: flex;
  flex-direction: column;
  }
  &__description{
    font-size: 24px;
    text-align: justify;
    width: 50%;
  }
  &__title{
    padding-left: 50px;

  }
  &__body{
display: flex;
justify-content: space-around;

  }
  &__profile{
      width:30%;
      height: 80%;
      border-radius: 100%;
      margin-top: 103px;
  }
  &__social{
    margin-top: 1rem;
  }
  &__info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button{
    text-decoration: none;
  
  }
  &__footer{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;

  }
}
