.aboutMe {
  height: 100vh;
  position: relative;

  &__container{
    width:50%;
    position: absolute;
    right:0px;
  }
  &__description{
    font-size: 24px;
    text-align: justify;
    width: 80%;
  }
  &__title{
    padding-left: 50px;

  }
  &__body{
    padding-left: 50px;
    &>button{
      margin-top: 30px;
    }

  }
  &__profile{
      width:38%;
      height: 80%;
      position: absolute;
      left:5%;
      top:10%;
      border-radius: 100%;
  }
  &__button{
    text-decoration: none;
  
  }
}
