.aboutMe {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  @media (max-width: 768px) {
    height: 100%;

  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__description {
    font-size: 24px;
    text-align: justify;
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__title {
    padding-left: 50px;
    @media (max-width: 768px) {
      padding-left: 0px;
      text-align: center;
    }
  }
  &__body {
    display: flex;
    justify-content: space-around;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 0px 30px;
    }
  }
  &__profile {
    width: 30%;
    // height: 80%;
    margin-top: 103px;
    display: flex;
    align-items: center;
    &>img{
      border-radius: 100%;
      width: 100%;
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0px;
      width: 80%;
      height: 80%;
      margin-bottom: 10px;
    }
  }
  &__social {
    margin-top: 1rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button {
    text-decoration: none;
  }
  &__footer {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.here {
  padding: 0;
  font-size: 24px;
  font-weight: bold;
}
mark{
  background-color: #f8cae1;
}