.resume {
  display: flex;
  justify-content: center;
  padding: 10px 80px;
  @media (max-width: 768px) {
    padding: 10px 30px;
  }

  &__cards {
    width: 60vw;
    @media (max-width: 768px) {
      width: 80%;
    }
  }
  &__category {
    color: black;
    background-color: #ffd3f0;
    width:fit-content;
    border-radius: 1rem;
    padding: 0 0.8rem;
    font-weight: 600;
    font-size: xx-large;
    margin-bottom: 50px;
    margin-left: -40px;
    @media (max-width: 768px) {
      margin-left: -4px;
      margin-bottom: 25px;
    }
  }
  &__skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ffd3f0;
    border-radius: 5px;

  }
  &__skill {
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    padding: 1rem;
    border-radius: 5px;
    min-width: 40px;
    text-align: center;
    font-weight: bold;
    background-color: #FFEDF6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    @media (max-width: 768px) {
    padding: 0.5rem;
    min-width: 20px;

    }
    &:hover{
    background-color: #fff;

    }
  }
}
