.resume {
  display: flex;
  justify-content: center;
  padding: 10px 80px;
  @media (max-width: 768px) {
    padding: 10px 30px;
  }

  &__cards {
    width: 60vw;
    @media (max-width: 768px) {
      width: 80%;
    }
  }
  &__category {
    color: #ff3eaa;
    font-weight: 600;
    font-size: xx-large;
    margin-bottom: 50px;
    margin-left: -40px;
    @media (max-width: 768px) {
      margin-left: -4px;
      margin-bottom: 25px;
    }
  }
  &__skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
