.button{
    padding: 1.2rem;
    background-color: #ff3eaa;
    border:none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #ff3eaa;

    @media (max-width: 768px) {
  padding: 1rem;
  font-size: 10px;
      }
    &:hover{
    background-color: #fff;

    }
    
}